// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// // 2. Include any default variable overrides here
// $primary: #219EBC;
$primary: #219000;
// // 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// // 4. Include any optional Bootstrap components as you like
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/buttons";

// 5. Add additional custom code here

// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // font-family: 'Open Sans', sans-serif;
    font-family: 'Crimson Text', serif;
    font-size: 16px;
}
.navbar{
    .nav-link{
        font-size: 14px;
        text-transform: uppercase;
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    .active{
        border-left: rgb(255, 255, 255) 3px solid;
    }

}
#background{
    background: url("../img/background.jpg") rgba(255, 255, 255, 0.7);
    width:auto;
    background-size: inherit;
    background-repeat:no-repeat;
    .container{
        background-color: #000;
        color: #fff;
        opacity: 0.8;
        border-radius: 10px;

        .notification{
            border-left: solid #fff 2px;
        }
    }
}
.intro {
    text-align: justify;
}
#content {
    height: 150vh;
    .col-md-6{
        height: 150vh;
    }
}
